/* App.css */

.header-container {
  text-align: center;
  padding-top: 30px;
}

.box-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin: 20px auto;       
  
  background-color: #FFC0CB; 
  height: 200px;
  width: 200px;
  border: 3px solid #000;
  font-size: 1.2rem;
}